config ARM64
	def_bool y
	select ARCH_HAS_FAST_MULTIPLIER
	select ARCH_SUPPORTS_INT128 if GCC_VERSION >= 50000 || CC_IS_CLANG
	select ARCH_WANT_FRAME_POINTERS
	select CRC32
	select FRAME_POINTER
	select HAVE_ARCH_BITREVERSE
	select HAVE_STACKPROTECTOR
	select OF
	select OF_EARLY_FLATTREE

config 64BIT
	def_bool y

config ARCH_PHYS_ADDR_T_64BIT
	def_bool y

config ARCH_DMA_ADDR_T_64BIT
	def_bool y

config ILLEGAL_POINTER_VALUE
	hex
	default 0xdead000000000000

config GENERIC_HWEIGHT
	def_bool y

config SMP
	def_bool y

source "arch/arm64/Kconfig.platforms"

menu "Kernel Features"

config CPU_BIG_ENDIAN
       bool "Build big-endian kernel"
       help
         Say Y if you plan on running a kernel in big-endian mode.

config CC_HAVE_STACKPROTECTOR_SYSREG
	def_bool $(cc-option,-mstack-protector-guard=sysreg -mstack-protector-guard-reg=sp_el0 -mstack-protector-guard-offset=0)

config STACKPROTECTOR_PER_TASK
	def_bool y
	depends on STACKPROTECTOR && CC_HAVE_STACKPROTECTOR_SYSREG

endmenu
