#
# Library configuration
#

menu "Library routines"

config BITREVERSE
	bool

config HAVE_ARCH_BITREVERSE
	bool
	default n
	depends on BITREVERSE
	help
	  This option enables the use of hardware bit-reversal instructions on
	  architectures which support such operations.

config CRC32
	bool "CRC32/CRC32c functions"
	default y
	select BITREVERSE
	help
	  This option is provided for the case where no in-kernel-tree
	  modules require CRC32/CRC32c functions, but a module built outside
	  the kernel tree does. Such modules that use library CRC32/CRC32c
	  functions require M here.

#
# Generic 64-bit atomic support is selected if needed
#
config GENERIC_ATOMIC64
       bool

#
# libfdt files, only selected if needed.
#
config LIBFDT
	bool

endmenu
